.card-wrapper {
    height: 298px !important;
    width: 200px;
    cursor: pointer;
}

.card-soulbound-icon {
    position: absolute;
    height: 47px;
    width: 47px;
    z-index: 11;
    top: 6px;
    left: 73%;
}



.card-wrapper>div {
    position: relative;
    /* height: 597px; */
    /* width: 400px; */
    height: 298px;
    width: 200px;
    /* height: 447.75px; */
    /* width: 300px; */
}

.card-frame {
    position: relative;
    z-index: 2;
    /* height: 597px;
    width: 400px; */
    height: 298px;
    width: 200px;
    /* height: 447.75px; */
    /* width: 300px; */
}

.card-image {
    position: relative;
    z-index: 1;
    top: 0;
    /* height: 400px;
    width: 417px; */
    height: 200px;
    width: 200px;
    /* top: -597px; */
    top: -298px;
}

.card-stats {
    position: relative;
    z-index: 3;
    top: -335px;
}

.card-stats[datatype="spell"] .card-hp {
    left: 155px;
}

.card-text {
    position: relative;
    z-index: 3;
    /* top: -615px; */
    top: -310px;
    color: wheat;
    /* font-size: 24px; */
    width: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.card-stats span {
    position: relative;
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px #000000;
}

.card-mana {
    left: 20px;
    top: -148px;
}

.card-attack {
    left: 9px;
}

.card-hp {
    left: 152px;
}

.card-name {
    position: relative;
    top: 12px;
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px #000000;
}

.card-race {
    width: 100%;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 3;
    top: 55px;
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px #000000;
}

.card-icon {
    position: relative;
    z-index: 3;
    top: -367px;
    left: 84px;
}

.card-icon-no-race {
    top: -356px;
}

/* DESCRIPTION HOVER */
.card-description-box {
    background: linear-gradient(180deg, rgba(17, 23, 34, 0.7) 0%, rgba(3, 2, 2, 0.7) 33.15%);
    backdrop-filter: blur(5px);
    height: 298px;
    width: 200px;
    position: relative;
    z-index: 4;
    top: -298px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    margin: auto;
    height: auto;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-description-store {
    height: 298px !important;
    width: 200px !important;
    position: relative !important;
}

.card-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #FFFFFF;
}

.card-description-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;

    position: relative;
    top: 40px;
}

.card-description-icon-wrapper {
    height: 36px !important;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-description-icon {
    position: relative !important;
    height: 36px !important;
    width: 36px !important;
}

.card-description-name {
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;

    background: linear-gradient(180deg, rgba(255, 250, 202, 0.85) 0%, rgba(255, 243, 137, 0.85) 21.35%, rgba(255, 218, 130, 0.85) 67.19%, rgba(255, 160, 114, 0.85) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card-description-race {
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 0px 4px #000000;
}

.card-description-hide {
    display: none;
}

.card-description-rarity {
    position: relative;
    top: -16px;
    /* top: 100px; */
    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    text-align: center;

    background: linear-gradient(180deg, rgba(255, 250, 202, 0.85) 0%, rgba(255, 243, 137, 0.85) 21.35%, rgba(255, 218, 130, 0.85) 67.19%, rgba(255, 160, 114, 0.85) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.card-count {
    width: 40px;
    max-width: 40px !important;
    height: 24px;
    max-height: 24px !important;
    display: flex;
}

.card-count p {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    vertical-align: middle;

    font-family: 'Trajan Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: rgba(237, 219, 172, 0.85);
}


.card-count-wrapper {
    position: absolute;
    top: 14px;
    width: 40px !important;
    height: 24px;
    /* left: 145px; */
    left: 5px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    z-index: 11;
}